/* global.css */
body {
    margin: 0; 
    font-family: Arial, sans-serif;
  }
  
  .menu-page {
    background-color:#8ED8BF;
  }
  
  .cart-page {
    background-color: #ede8e8; /* Mörkare grå bakgrund för varukorgen */
  }
  
  .checkout-page {
    background-color: #fff8e0; /* Ljus gul bakgrund för checkout-sidan */
  }
  
  .order-confirmed-page {
    background-color: #e0ffe0; /* Ljusgrön bakgrund för orderbekräftelse */
  }