.header {
  position: relative; // Ensure positioning is relative to allow for child positioning to be consistent
  z-index: 10; // Higher index to prioritize this element over others
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 5rem;
    width: 100rem;
  }

  .headerIcon {
    width: 10rem;
    height: 10rem;
    left: 10rem;
  }
  
  .cartLink {
    position: relative;
    display: inline-block;
  }
  
  .cartIcon {
    width: 80px;
    height: 50px;
    background-color: white;  
  }
  
  .cartCount {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }